body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.box{
    width: 100px;
    height: 100px;
    background-color: rgb(138, 138, 138);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    transition: background-color 0.5s ease, scale 0.5s ease;
    border-radius: 5px;
}

.box:hover{
    background-color: red;
    transition: background-color 0.5s ease;
    scale: 1.2;
    cursor: pointer;
}