/* Default (Light Mode) */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Dark Mode Class */
.dark-mode {
    background-color: #121212; /* Softer black */
    color: #e0e0e0; /* Softer white */
}

button {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

div{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 100vh;
    
}

